<%= @user.name %> 

<h3>Your ingredients:</h3>

<ul>
    <% user_ingredients(@user).each do |ingredient| %>
    <%# I have absolutely no idea why, but adding uniq here makes the links appear. Since I wanted to add it anyway, it's no problem, but it is really weird. %>
    <%# The method user.ingredients returns the ingredient from each recipe_ingredient, so there are duplicates. That's why I was going to use uniq anyway. Still very odd %>
        <li>
            <%= link_to "#{ingredient.name}", user_ingredient_path(@user, ingredient) %>
        </li>
    <% end %>
</ul>